{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Direccion
    {% endblock   %}
    {%block content%}
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        <div id="content">
        <h1 style = "color: black; font-weight: bolder;"> <strong> Sobre tu dirección </strong> </h1>
        <br>
        <strong>
        {{formulario.as_p}}
        </strong>
        <strong>
        <br>
        </div>
        
        {% if formEnviado == 0 %}
        <div id = "enviar">
        <input  type = "submit" onclick="return confirm('¿Seguro que desea guardar?')" value = "Guardar Direccion">
        </div>
        {% endif %}
        {% if formEnviado == 1 %}
        <p style="color: blue; font-weight: bolder;"> Formulario de Direccion finalizado </p>
        {% endif %}
        </strong>
        </form>
        <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
            <a class="btn btn-primary btn-lg" href="{% url 'enviarDireccion' %}" onclick="return confirm('¿Seguro que desea enviar el censo?')">Enviar Censo</a>
          </li> </ul>
        {% if alerta == 1%}
        <p style="color: red; font-weight: bolder;"> Aun no ha finalizado el censo, por favor termine antes de enviar </p>
        {% endif %}
    {% endblock %}