{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Consulta al Censo
    {% endblock   %}
    {%block content%}
        <br>

        <div id="content">
        <div class="card">
        <h1 style = "color: black; font-weight: bolder;"> <strong> Tu Consulta </strong> </h1>
        <br>
        <h3 style = "color: black; font-weight: bolder;"> <strong> Tu consulta sobre {{ciudad}} obtuvo {{Numero}} {% if Numero > 1 or Numero == 0 %} registros {% endif %} {% if Numero == 1 %} registro {% endif %}</strong> </h1>
        <br>
        <table class="table table-hover">
        <tr>
        <strong>
        <th> Registro  </th>
         <th> Barrio  </th>
          <th> Profesion  </th>
           <th> Tipo de casa </th>
          </strong>
           </tr>
            
        {% for registro in registros %}

        
                
                    <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{registro.barrio}}</th>
                    <th>{{registro.profesion}}</th>
                    <th>{{registro.tipo}}</th>
                    </tr>
               
                
        


        {% endfor %}
        </table>
        </div>
       
        <br>
        </div>
       
       
    {% endblock %}