{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Persona
    {% endblock   %}
    {%block content%}
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        <div id="content" class="col-lg-6">
        <h1 style = "color: black; font-weight: bolder;"> <strong> Sobre esta Persona </strong> </h1>
        <br>
        <strong>
        <div class="card">
        <table class="table table-hover">
        {{formulario.as_table}}
        </strong>
        </table>
        <strong>
        <br>
        
        {% if formEnviado == 0 %}
        <div id = "enviar">
        <input  type = "submit" onclick="return confirm('¿Seguro que desea guardar?')" value = "Guardar Persona" class="btn btn-primary btn-sm">
        <br>
        <br>
        </div>
        {% endif %}
        {% if formEnviado == 1 %}
        <div class="alert alert-primary" role="alert">
        <p style="color: blue; font-weight: bolder;"> Formulario de Persona finalizado </p>
        </div>
        {% endif %}
        </strong>
        </form>
        </div>
        <br>
        <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
            <a class="btn btn-primary btn-lg" href="{% url 'enviarPersona' %}" onclick="return confirm('¿Seguro que desea enviar el censo?')">Enviar Censo</a>
          </li> </ul>
          <br>
          
        {% if alerta == 1%}
        <div class="alert alert-danger" role="alert">
        <p style="color: red; font-weight: bolder;"> Aun no ha finalizado el censo, por favor termine antes de enviar </p>
        </div>
        {% endif %}
        </div>
    {% endblock %}