{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Persona
    {% endblock   %}
    {%block content%}
       
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        <div id="content">
        <h1 style = "color: black; font-weight: bolder;"> <strong> Sobre esta persona </strong> </h1>
        <br>
        <strong>
        {{formulario.as_p}}
        </strong>
        <strong>
        <br>
        </div>
        <div id = "enviar">
        <input  type = "submit" value = "Enviar">
        </div>
        </strong>
        </form>
    {% endblock %}