{% extends 'base.html' %}
    {% load static %}
    {% block  title %}
        Vivienda
    {% endblock   %}
    {%block content%}
       
        {% if formulario.errors %}
            <p style="color: red;"> Revisar este campo </p> 
        {% endif %}
        <br>
        <form action = "" method = "POST"> {% csrf_token %}
        <div id="content">
        <h1 style = "color: black; font-weight: bolder;"> <strong> Sobre tu vivienda </strong> </h1>
        <br>
        <strong>
        {{formulario.as_p}}
        </strong>
        <strong>
        <br>
        </div>
        {% if formEnviado == 0 %}
        <div id = "enviar">
        <input  type = "submit" onclick="return confirm('¿Seguro que desea guardar?')" value = "Enviar">
        </div>
        {% endif %}
        {% if formEnviado == 1 %}
        <p style="color: red; font-weight: bolder;"> Formulario de Vivienda finalizado </p>
        {% endif %}
        </strong>
        </form>
    {% endblock %}